{% extends "learning_logs/base.html" %}

{% load bootstrap4 %}

{% block page_header %}

 <h1>Topics</h1>

{% endblock page_header %}

{% block content %}


    {% for topic in topics %}

  <div class="card"> 
     
  <div class="card-body"> 
     
        
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></li>
   
  </div>
</div>
<br>
     {% empty %}

    
      
  
<div class="card"> 
     
  <div class="card-body"> 

    {% buttons %}

    <button name='submit' class="btn btn-warning">

        No topics have been added yet.
    
    </button>         

    
    {% endbuttons %}

  </div>

</div>

      
      
     {% endfor %}
 
  
<div class="card"> 
     
  <div class="card-body"> 

  {% buttons %}
    
    <button name='submit' class="btn btn-warning">  
      
      <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>

    </button>  

  {% endbuttons %}

</div>
</div>


{% endblock content %}
